body{
    background-image:url('images/background.jpeg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    list-style-type:none;
    display:flex;
    font-size: 24px;
   }
   a:hover{
    font-size: 36px;
    color: aquamarine;
   }
   a{
       text-decoration: none;
       padding:10px;
       color:darkcyan;
   }
   header,footer{
    padding: 36px;
    display:flex;
   flex-flow: row wrap; 
   justify-content: center;
   align-items: center;

   }
   .wavy_text{
    position: relative;
 }
   .wavy_text span{
    position:relative;
    display:inline-block;
    font-size:60px;
    color:white;
    text-transform: uppercase;
    animation: bounce 3.5s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
   }

   @keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-20px);
    }

    40%,
    100% {
        transform: translateY(0px);
    }
}
.profile_picture{
border-radius: 50%;
overflow:hidden;
}
   .nav{
    display: flex;
    flex-direction: row;
   }
   header{
   font-size: 48px;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
   }
   h1{
    color:#404347;
    text-align: center;
   }
   footer{
    display: flex;
    justify-content:center;
   }
   .sources_block{
    display: flex;
    flex-flow: column,nowrap;
    align-items: center;
    justify-content:center;
    gap:20px;
    font-size:32px;;
    border:10px solid red;
   }
   .profile_picture{
    display:flex;
    justify-content: center;
    align-items: center;
   }
   .kofi{
    border:10px solid red;
    background-color: white;
    border-radius: 50%;
   }
   .kofi :hover{
    background-color:blue;
    border-radius: 50%;
    color: red;
    animation: colorswap 3.5s ease-in-out infinite;
}

@keyframes colorswap {
    0% {
       
        background-color:blue;
    }
    25% {
        background-color:blueviolet;
    }
    50% {
        background-color:violet;
    }
    75% {
        background-color:pink;
    }
    100% {
        background-color:fuchsia;
    }
}

   .twitter{
    border:10px solid red;
    background-color: white;
    border-radius: 50%;
   }
   .twitter :hover{
    background-color: white;
    border-radius: 50%;
    color: red;
    animation: colorswap 3s ease-in-out infinite;
   }
   .instagram{
    border:10px solid red;
    background-color: white;
    border-radius: 50%;
   }
   .instagram :hover{
    background-color: white;
    color:red;
    border-radius: 50%;
    animation:colorswap 3s ease-in-out infinite
   }
   .furaffinity{
    border:10px solid red;
    background-color: white;
    border-radius: 50%;
   }
   .furaffinity :hover{
    background-color: white;
    color:red;
    border-radius: 50%;
    animation:colorswap 3s ease-in-out infinite;
   }
   .toyhouse{
    border:10px solid red;
    background-color: white;
    border-radius: 50%;
   }
   .toyhouse :hover{
    background-color: white;
    color:red;
    border-radius: 50%;
    animation:colorswap 3s ease-in-out infinite;
   }
   .gallery_wheel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30% linear infinite;
   }
   @keyframes rotate{
    0%{ transform: perspective(1000px) rotateY(0deg);
   }
   100%{
    transform: perspective(1000px) rotateY(360deg);
   }
}
   .gallery_wheel span{
    position: absolute;
    top: 0;
    left: 0;
   width: 100%;
    height: 105%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)+45deg)) translateZ(350px)
   }
   .gallery_wheel span img{
    position: absolute;
    padding:16px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit:cover;
    transition: 2s;
   }
   .gallery_wheel span:hover{
    transform: translateY(-50px) scale(1.2);
   }